.hero{
	.d13458 &{
		background-image: url("/vaujanyskicompany-com/_img/images/default-bg.jpg");
	}
	#s820872 &{
		background-image: url("/vaujanyskicompany-com/_img/images/explore-bg.jpg");
	}
	#s835279 &{
		background-image: url("/vaujanyskicompany-com/_img/images/explore-bg.jpg");
	}
	#s820947 &{
		background-image: url("/vaujanyskicompany-com/_img/images/contact-bg.jpg");
	}
	#s840943 &{
		background-image: url("/vaujanyskicompany-com/_img/images/page-not-found.jpg");
	}
	#s840941 &{
		background-image: url("/vaujanyskicompany-com/_img/images/thankyou-bg.jpg");
	}
	#s835205 &{
		background-image: url("/vaujanyskicompany-com/_img/images/about-summer-bg.jpg");
	}
	#s835284 &{
		background-image: url("/vaujanyskicompany-com/_img/images/getting-here-bg.jpg");
	}
	#s911820 &{
		background-image: url("/vaujanyskicompany-com/_img/images/lift-pass-bg.jpg");
	}
}