// sans-serif
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucidagrande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$verdana: Verdana, Geneva, sans-serif;

// serif
$baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$lucidabright: "Lucida Bright", Georgia, serif;
$tnr: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

// monospaced
$consolas: Consolas, monaco, monospace;
$courier: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$monaco: Monaco, Consolas, "Lucida Console", monospace;


// User defined ------------------------------------------ //



// Base font attributes ---- //

$base-font-family: 'Overpass', arial, sans-serif;;
$base-font-size: 16;
$base-line-height: 1.6;
$blockquote: #e3e3e3;

$heading-font: 'Montserrat-Regular', arial, sans-serif;
$heading-font-bold: 'Montserrat-Bold', arial, sans-serif;
$body-font: 'Overpass', arial, sans-serif;
$body-font-light: 'Overpass-Light', arial, sans-serif;
$body-font-bold: 'Overpass-Bold', arial, sans-serif;
$body-font-italic: 'Overpass-Lightitalic', arial, sans-serif;

// Base colours ---- //

$white: #FFFFFF;
$black: #111;
$base-color: #006da6;
$base-color-dark: #003b59;
$base-color-light: #18a8f2;
$comp-color: #a65d00;
$comp-color-dark: #593200;
$lightGrey: #aaa;

$link: $base-color;
$link-hover: $base-color-light;
$link-focus: $base-color-light;

// Brand-Colours //

$facebook: #3b5998;
$twitter: #55acee;